.idea
*.iml
*.ipr
*.iws
.classpath
.project
.settings
.checkstyle
.gradle*
*/target/
target/*
*.jar
logs
build/
node_modules/
derby.log
dependency-reduced-pom.xml
**/.DS_Store
.swp
*.egg-info/
eggs/
bin/
develop-eggs/
parts/
data/
.installed.cfg
**/__pycache__/
*.pyc
dist/